/* Body */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #cccccc;
    background: url("../images/white-waves.png");
 
}

/* header including the nav bar */
.header {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    background-color: #ffffff;
    z-index: 98;
    border-color: #cccccc;
    border-bottom: 1px solid;
    border-top: 1px #cccccc;

}

.namebox {
    float: left;
    top: 0;
    padding: 20px;
    width: 250px;
    height: 53px;
    background-color: #4aaaa5;
    z-index: 99;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight:700;
    text-align: center;
    color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight:1000;
    text-align:center;
    color: #ffffff;
    font-size: 28px;
    line-height: 57px;
    text-decoration: none;    
}

.navbar {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    text-align:center;
    color: #ffffff;
    background: #ffffff;
}

.links {
    text-decoration: none;  
    float: right;
    margin-top: 32px;
}

.link2 {
    color: #aca8a8;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 15px;
    margin-top: 25px;
    font-size: 21px;
    line-height: 23px;
    border-left: 1px solid #aca8a8;
}

.link2:last-child {
    border-right: 1px solid #aca8a8;
    padding-right: 15px;
}

/* Main Body Text */

#box2 {
    padding-top: 150px;
}

.main-box {
    position: relative;
    width: 100%;
    z-index: 1;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    text-align:center;
    color: #ffffff;
    background: #ffffff;
}

.box-header {
    height: 70%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    clear: both;
    text-align:center;
    background: #ffffff;
    float: left;
    margin: 0 0 40px;
    left: 10px;
    padding: 30px;
    width: 100%;
    z-index: 3;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight:700;
    text-align: center;
    color: #ffffff;
    font-size: larger;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

/* Header */

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 30px;
    line-height: 50px;
    text-align: left;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 15px;
}

/* My picture */
#picture {
    float: left;
    width: 192px;
    height: 288px;
    margin-right: 20px;
    margin-top: 10px;
}

/* Text in body */
#body-text {

    color: #777777;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Footer */

.footerbox {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
    clear: both;
}

footer {
    padding: 20px;
    clear: both;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 6px solid #dddddd;
}

/* Portfolio */

.project-example:nth-child(even) {
    margin-right: 40px;
}

.project-example {
    position: relative;
    float: left;
    width: 250px;
    /* height: 250px; */
    margin: 25px 20px 25px 20px;
    overflow: auto;
    opacity: 1.0;
}

.project-example:hover {
    opacity: 0.7;
}

/* Project ex */

.project-example-link {
    position: relative;
    float: left;
    width: 250px;
    /* height: 250px; */
    margin: 25px 20px 25px 20px;
    overflow: auto;
    opacity: 1.0;
    /* background: url() */
}
.project-example-link:hover {
    opacity: 0.7;
}
.project-example-link img {
    width: 100%;
    border: 0 none;
    opacity: 1.0;

}

.project-example img {
    width: 100%;
    border: 0 none;
    opacity: 1.0;
}

#shark {
    height: 187.5px;
    width: 100%;
    border: 0 none;
    opacity: 1.0;
}


h3 {
    position: absolute;
    /* margin-top: 15px; */
    padding-top: 10px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 35px;
    border-bottom: 0;
    bottom: 20px;
}

/* links */
  .project-example-link a {
    position: absolute;
    /* margin-top: 15px; */
    font-size: 24px;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 35px;
    border-bottom: 0;
    bottom: 20px;
    text-decoration: none;  
  }

/* Contact */

ul {
    color: #777777;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 45px;
    text-align: center;
    float: left;
    margin-left: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label {
    display: block;
    width: 100%;
    color: #777777;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea {
 
    display: block;
     width: 100%;
    color: #777777;
     text-align: left;
  /* font-size: 20px; */
    font-weight: 500;
    margin-bottom: 10px;
}

#Form ul {
    margin-bottom: 5px;
}
  
#Form li {
    margin-bottom: 5px;
}

textarea {
    height: 250px;
}
